<div class="progress-bar"></div>

<div>
    <p>scroll-progress-bar works!</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus aliquam atque reprehenderit quo, eos at deleniti cupiditate placeat possimus natus odio, et tenetur repudiandae fugit cumque? Nemo, itaque cupiditate?
</p>
</div>


